.photos {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
  grid-auto-rows: 150px;
  grid-auto-flow: dense;
}
.horizontal {
  grid-column: span 2;
}
.vertical {
  grid-row: span 2;
}
.big {
  grid-column: span 2;
  grid-row: span 2;
}

.photos > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lightbox {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /*optional bg color*/
  background-color: rgba(
    0,
    0,
    0,
    0.65
  ); /*the following isn't necessary but will help center everything once we add buttons*/
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lightbox-img {
  max-height: 85vh !important;
  max-width: 85vw !important;
  width: 100%;
  border: 9px solid white;
}

.test {
  position: relative;
  
  margin: auto;
  height: 85vh !important;
  width: 100%;
  max-width: 85vw !important;
}

.test::after {
  content: '\2764';
  position: absolute;
  top: 50%;
  left: -30px;
  z-index: 100000;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 8px;
  font-weight: 900;
  font-size: 22px;
  justify-items: center;
  background: white !important;
  width: 30px;
  height: 150px;
  transform: translateY(-50%);
}


